.quarto-title-block .quarto-title-banner {
  background-image: 
    url(logos/parcs-canada-logo.png),
    url(logos/NABat.png),
    url(logos/BP-Logo-Hz-invert-notag.png);
  background-size: 
    250px,
    150px,
    250px;
  background-position: 
    left center,
    right 270px center,
    right 5px center;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
  background-origin: content-box;
}

code {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}
